@charset "UTF-8";
/* CSS Document */



#impac2 {
	background: url("../images/nci_i2e_banner.png") no-repeat right top;
	;
	display: block;
}
.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0.8em;
}
.badge {
	background-color: #ccc;
}
.active .badge {
	background-color: #666;
}
.breadcrumb {
	background-color: #fff;
}
.breadcrumb>li+li:before {
	content: "|\00a0"
}
.form-control {
	width: 90%;
	clear: none;
	display: inline-block;
}
.pagination span.no-pagination {
	color: #000;
	border: none;
	font-size: 1em;
	margin-left: 10px;
	color: #666;
}
.pagination span.no-pagination:hover {
	background-color: #fff;
	color: #666;
}
.breadcrumb .active {
	color: #666;
}
table {
	border-collapse: collapse;
	font-size: 0.85em;
	background-color: #fff;
}

table .btn-xs {
	font-size: .9em;		
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}
th {
	background: #337ab7;
	color: white;
}
td, th {
	padding: 6px;
	border: 1px solid #CFD2D5;
	text-align: left;
	vertical-align: text-top;
}
table ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
table ol li {
 margin, padding: 0;
	border-bottom: solid 1px #ccc;
	list-style-type: none;
	padding: 4px 0 4px 0;
}
table ol li:last-child {
	border-bottom: none;
}
.glyphicon {
	font-size: 1.2em;
	color: #337ab7;
}
h2 {
	color: #666;
}
th a:link, th a:visited {
	color: #fff;
	text-decoration: underline;
}
th a:hover {
	color: #eee;
	text-decoration: none;
}
th {
	font-size: 0.9em;
}
fieldset {
	border: 1px solid #eee;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	background: #f5f5f5;
}
legend {
	font-size: 18px;
	color: #333;
	border: 0;
	margin: 10px;
	width: auto;
	backround-color: #fff;
}
.read_only {
	padding: 7px 0;
}
th a:link, th a:visited {
	color: #333;
}
.panel-footer ol.breadcrumb {
	background-color: transparent;
	font-size: 0.9em;
}
#nci {
	background-color: #A90101;
}
caption {
	font-size: 2em;
}
tr.org th {
	background-color: #fff;
	color: #333;
}
tr.org td {
	white-space: nowrap;
}
tr.org a {
	float: left;
	font-weight: bold;
}
tr.org span {
	float: right;
	font-weight: bold;
	color: #999;
}
th a:link, th a:visited {
	color: #fff;
}
.export {
	padding-top: 20px;
	font-size: 0.9em;
}
h4 span {
	font-weight: normal;
}
fieldset {
	padding: 15px 0;
}
legend {
	background-color: #fff;
	margin: 0 15px;
	padding: 0 10px;
	color: #333;
	border-radius: 4px;
}
.roles {
	text-align: right;
	width: 100%;
	padding-right: 10px;
	padding-bottom: 20px;
	font-size: 0.9em;
}
.name {
	margin-top: 7px;
}
.modal-content textarea {
	width: 90%;
}

.org .other {
	padding-left: 15px;
	
}
